# JWT Secret Key for token signing
# Change this to a secure random string in production
JWT_SECRET_KEY=

# CORS Allowed Origins 
# Add your Render frontend URL here
ALLOWED_ORIGINS=

# Supabase Database Configuration
SUPABASE_HOST=
SUPABASE_PORT_NUMBER=
SUPABASE_DATABASE=
SUPABASE_USER=
SUPABASE_PASSWORD=

# For interacting with the database and bucket storage 
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# For using AI features in the app
GEMINI_API_KEY=

# For the email verification system 
BREVO_API_KEY=

# Verified sender email for the verificiation system 
BREVO_SENDER_EMAIL=